.podcast-screen {
  display: flex;
  margin-top: 20px;
  padding: 0 50px;

  > div {
    &:first-of-type {
      display: flex;
      justify-content: center;
      margin-right: 50px;
    }
    &:last-of-type {
      width: 100%;
    }
  }

  &__total,
  &__episodes {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }

  &__total {
    margin-bottom: 20px;

    > h3 {
      margin: 0;
    }
  }
}
